.leftDiv{
    border: 0.5px solid rgb(223, 221, 221);
    margin: 25px 10px 5px 10px;
}

.divHead{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    border-bottom: 0.1px solid rgb(199, 197, 197);
}
.divHead p{
    margin-top: 20px;
}
.divHead button{
    width: 80px;
    height: 40px;
    color: blue;
    font-weight:bolder;
    background-color: white;
    border-radius: 4px;
    border: 1.5px solid rgb(223, 221, 221);
    margin-top: 12px;
}